# Exclude data files which are dynamically downloaded for tests
platipy/*/tests/data

# Just a few other folder names currently used which shouldn't be tracked
testing/
converted/
**/data
**/tcia
**/nifti_output
