* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

$.dcm binary
*.tar.gz binary
*.png binary
*.ttf binary
*.woff binary

*.ipynb filter=nbstripout
*.ipynb diff=ipynb
