numpy
pyyaml
itk >= 5.0a1
vtk
SimpleITK
scikit-image
click
pytest
pydicom >= 2.0.0
pynetdicom >= 1.5.0
flask
flask-restful
flask-sqlalchemy
celery < 5.0.0
redis
loguru
psutil
gunicorn
requests
pandas
pymedphys >= 0.35.0
