
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    
    <!-- Vue -->
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/vue-router.js"></script>
    <script src="/static/js/vue-resource.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid" id="app">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <router-link to="/foo" class="nav-link {% if status %}active{% endif %}">
                  <span data-feather="home"></span>
                  Status {% if status != None %}<span class="sr-only">(current)</span>{% endif %}
                </router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link {% if settings %}active{% endif %}" to="/bar">
                  <span data-feather="settings"></span>
                  Settings
                </router-link>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if log %}active{% endif %}" href="/logs">
                  <span data-feather="file-text"></span>
                  Logs
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Applications</span>
              <a class="d-flex align-items-center text-muted" href="/endpoint/add">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              {% for e in data.endpoints %}
              <li class="nav-item">
                <a class="nav-link {% if endpoint and endpoint.id == e.id %}active{% endif %}" href="/endpoint/{{ e.id }}">
                  <span data-feather="monitor"></span>
                  {{ e['endpointName'] }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <router-view></router-view>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="/static/feather/feather.min.js"></script>
    <script>
      feather.replace()

      // 1. Define route components.
      // These can be imported from other files
      const Foo = { template: '<div>foo</div>' }
      const Bar = { template: '<div>bar</div>' }

      // 2. Define some routes
      // Each route should map to a component. The "component" can
      // either be an actual component constructor created via
      // `Vue.extend()`, or just a component options object.
      // We'll talk about nested routes later.
      const routes = [
        { path: '/foo', component: Foo },
        { path: '/bar', component: Bar }
      ]

      // 3. Create the router instance and pass the `routes` option
      // You can pass in additional options here, but let's
      // keep it simple for now.
      const router = new VueRouter({
        routes // short for `routes: routes`
      })

      // 4. Create and mount the root instance.
      // Make sure to inject the router with the router option to make the
      // whole app router-aware.
      const app = new Vue({
        router
      }).$mount('#app')

      // Now the app has started!
    </script>
  </body>
</html>
