name: Build Docs

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - name: Install dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python - --version 1.2.0rc1
          poetry install --with docs
          echo "PYTHONPATH=`pwd`" >> $GITHUB_ENV
          sudo apt-get update -y && sudo apt-get install -y pandoc
          poetry run sphinx-build -b html -a docs docs/site
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/site
