
name: Build
on:
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update -y && sudo apt-get install -y curl
        curl -sSL https://install.python-poetry.org | python - --preview
        poetry run pip install numpy
        poetry install --with dev,docs
        echo "PYTHONPATH=`pwd`" >> $GITHUB_ENV
    - name: Build Docs
      run: |
        sudo apt-get update -y && sudo apt-get install -y pandoc
        poetry run sphinx-build -b html -a docs docs/site
    - name: Run Tests
      run: |
        poetry run pytest
